// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex-buttons {
	display: flex;
}

h1 {
	display: flex;
	justify-content: center;
}
